// Variables
$breakpoint-one: 480px, 'no-query' true;

// mixins
@mixin transform($action) {	
	-webkit-transform: $action;
	-ms-transform: $action;
	-o-transform: $action;
	transform: $action;
}

// Simple reset and page set up
body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 100%;
}
p, ul {
	padding: 0;
	margin: 0 0 0.5em;
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2 {
	font-size: 1em;
	margin: 0;
	padding: 0;
}