// Navigation styles 

// toggle button and icon
.nav-toggle {
	text-decoration: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	padding: 0.5em;
	display: none;
	.js & {
		display: block;
	}
	.nav-toggle__text {
		text-indent: -9999px;
		display: inline-block;		
	}
}
.nav-toggle__icon {
	display: inline-block;
	width: 20px;
	height: 3px;
	background: #666;
	position: relative;
	top: -3px;
	left: 2px;
	transition: all 0.2s;
	&:before,
	&:after {
		content: " ";
		width: 20px;
		height: 3px;
		background: #666;
		position: absolute;
		transition: all 0.5s;
	}
	&:before {
		top: -5px;
	}
	&:after {
		bottom: -5px;
	}
	&:hover,
	&:hover:before,
	&:hover:after {
		background: #000;
	}
	.nav-active & {
		background: transparent;
		&:before {
			@include transform(rotate(45deg));
			top: 0;
			left: -2px;
			width: 20px;
		}
		&:after {
			@include transform(rotate(-45deg));
			bottom: 0.5px;
			width: 21px;
			left: -2px;
		}
	}
}

@include breakpoint($breakpoint-one) {
	.js .nav-toggle {
		display: none;
	}
}

// navigation
.nav {
	top: 0;
	margin-left: 0;
	background: #d0d0d0;
	.js & {
		width: 85%;
		height: 100%;
		position: absolute;
		left: -100%;
		-webkit-transition: left .5s;
		transition: left .5s;
	}
	.window-resize & {
		-webkit-transition: left 0;
		transition: left 0;
	}
	.nav-active & {
		left: 0;
	}
	p {
		padding: 0.5em;
		margin: 0;
	}
}
.nav-list {
	border-top: solid 1px #666;
	list-style: none;
	.js & {
		visibility: hidden;
	}
}
.nav-open {	
	.nav-list {
		.js & {
			visibility: visible;
		}
	}
}
.nav-list__item {
	border-bottom: solid 1px #666;
	padding: 0.5em;
}

@include breakpoint($breakpoint-one) {
	.js .nav {
		position: relative;
		left: 0;
		height: auto;
		width: 100%;
		-webkit-transition: 0;
		transition: 0;
	}
	.nav-toggle {
		display: none;
	}
	.nav-list {
		border-bottom: solid 1px #666;
		overflow: hidden;
		.js & {
			visibility: visible;
		}
	}
	.nav-list__item {
		float: left;
		margin-right: 0.2em;
		border-bottom: none;
		border-left: solid 1px #666;
		margin-left: -1px;
	}
}

// This is the content wrapper for content pushed right when navigation open
.nav__content-section {
	width: 100%;
	.js & {
		-webkit-transition: left .5s;
		transition: left .5s;
		position: relative;
		top: 0;
		left: 0;
	}
	.window-resize & {
		-webkit-transition: left 0;
		transition: left 0;
	}
	.nav-active & {
		left: 85%;
	}
}

@include breakpoint($breakpoint-one) {
	.nav__content-section {
		top: 0;		
		-webkit-transition: left 0;
		transition: left 0;
		position: relative;
		height: auto;
		.nav-active & {
			left: 0;
		}
	}
}

// navigation content
@include breakpoint($breakpoint-one) {
	.nav-list__heading {
		display: none;
	}
}